<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /seasiaconnectfe/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /seasiaconnectfe/index.html [L]
</IfModule>